<div class="container">
  <div class="mt-3 mx-auto text-xs-center">
    <h2>Chat App</h2>

    <div class="btn-group text-xs-center mt-3 mb-1" data-toggle="buttons">
      <label class="btn btn-primary active" (click)="wantCreate = false">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Zaloguj się
    </label>
      <label class="btn btn-primary" (click)="wantCreate = true">
      <input type="radio" name="options" id="option2" autocomplete="off"> Zarejestruj się
    </label>
    </div>
  </div>

  <form *ngIf="!wantCreate" class="my-2 mx-auto auth-form " (submit)="signIn(login.value, password.value)" #loginForm="ngForm">
    <div class="form-group">
      <label for="login">E-mail</label>
      <input type="email" class="form-control" id="login" required name="login" #login>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" required name="password" #password>
    </div>
    <div [hidden]="!loginError" class="alert alert-danger">
      Logowanie nie powiodło się
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Zaloguj się</button>
  </form>

  <form *ngIf="wantCreate" class="my-2 mx-auto auth-form" #createFrom="ngForm" 
    (submit)="signUp(login.value, name.value, surname.value, university.value, department.value, fieldOfStudy.value, password.value, confirmPassword.value)">
    <div class="form-group">
      <label for="login">E-mail</label>
      <input type="email" class="form-control" id="login" required name="login" #login required>
    </div>
    <div class="form-group">
      <label for="name">Imię</label>
      <input type="text" class="form-control" id="name" required name="name" #name required>
    </div>
    <div class="form-group">
      <label for="surname">Nazwisko</label>
      <input type="text" class="form-control" id="surname" required name="surname" #surname required>
    </div>
    <div class="form-group">
      <label for="university">Uczelnia</label>
      <input type="text" class="form-control" id="university" required name="university" #university required>
    </div>
    <div class="form-group">
      <label for="department">Wydział</label>
      <input type="text" class="form-control" id="department" required name="department" #department required>
    </div>
    <div class="form-group">
      <label for="fieldOfStudy">Kierunek studiów</label>
      <input type="text" class="form-control" id="fieldOfStudy" required name="fieldOfStudy" #fieldOfStudy required>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" required name="password" #password required minlength="6">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Powtórz hasło</label>
      <input type="password" class="form-control" id="confirmPassword" required name="confirmPassword" #confirmPassword required
        minlength="6">
    </div>
    <div [hidden]="!createError" class="alert alert-danger">
      Utworzenie konta nie powiodło się
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!createFrom.form.valid">Utwórz konto</button>
  </form>
</div>