<div class="container">
    <div class="jumbotron my-3">
        <div class="card" *ngFor="let user of users; let i = index">
            <div class="card-block">
                <span class="card-title">
                    <h6 class="float-xs-left">{{user.name}} {{user.surname}}</h6>
                    <button (click)="removePostsFromUser(user.id)" class="btn btn-warning float-xs-right mx-1">Usuń posty</button>
                    <button *ngIf="!user.isBlocked" (click)="blockUser(user.id, i)" class="btn btn-danger float-xs-right mx-1">Zablokuj</button>
                    <button *ngIf="user.isBlocked" (click)="unblockUser(user.id, i)" class="btn btn-primary float-xs-right mx-1">Odblokuj</button>
                </span>
            </div>
        </div>
        <div *ngIf="hasMoreData" class="text-xs-center mt-1">
            <button type="button" class="btn btn-default" (click)="getMoreUsers()">Pokaż więcej</button>
        </div>
    </div>
</div>