<div id="user-page" class="container">
  <div class="jumbotron my-3 mx-auto">
    <div class="card" *ngFor="let friend of friends">
      <div class="card-block">
        <span class="card-title">
          <h6 class="float-xs-left">{{friend.name}} {{friend.surname}}</h6>
          <button (click)="showProfil(friend.id)" class="btn btn-success float-xs-right">Przejdź do profilu</button>
        </span>
      </div>
    </div>

    <div *ngIf="hasMoreData" class="text-xs-center mt-1">
      <button type="button" class="btn btn-default" (click)="getMore()">Pokaż więcej</button>
    </div>

    <div *ngIf="hasError" class="alert alert-success mt-2 mx-auto text-xs-center">
      Nie udało się pobrać danych
    </div>
  </div>
</div>